docker-ucf
embedding-ddbb
utils
node-server/.env
embedding-server/rebuild.sh
embedding-server/rebuild-test.sh
**/__pycache__
node-server/rebuild.sh
node-server/node_modules
.env
embedding-server/encoders_old
embedding-server/clip/model/ViT-B-32.pt
